


html, body{
    background-color: var(--bg-color);
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;

}

:root{

    /* Theme colors */
    --text-gray: #52514e;
    --title-light:#7c3a1c;
    --bg-color:#f7f5f0;
    --white:#ffffff;
    --bg-navbar:#3B507E;
    --text-light:#e3b45a;


}


/*----------------------Global Classes-------------------- */
a{
    font-family: 'Changa', sans-serif;
    text-decoration: none;
    color: aliceblue;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

ul{
    list-style-type: none;
}


/*-----------X----------Global Classes----------X--------- */



/*----------------------navbar-------------------- */
.nav{
    background: var(--bg-navbar);
    padding: 0 2rem;
    height: 0rem;
    min-height: 11.1vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 3rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-light);
    
}

.collapse{
    height: 42rem;
}
.nav .nav-items{
    display: flex;
    margin: 0;
    padding-top: 1rem;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
}

.nav .nav-items .nav-link:hover a{
    background-color: var(--text-light);
}


.nav .nav-brand a{
    font-size: 2.2rem;
    padding: 1rem 0;
    display: block;
    font-family: 'Cairo', sans-serif;
    color: var(--text-light);
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0.5rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}
.nav .social a:hover{
    color: #a1c4cf;
}


/*-----------X----------navbar----------X--------- */

/*-- Viewport less then or equal to 750px --*/

@media only screen and (max-width:1080px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }
}



/*--X -- Viewport less then or equal to 750px -- X--*/